@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(fonts/Secular_One/SecularOne-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    color: #f4f1f6;
    font-size: 24px;
    cursor: progress;
    font-weight: 500;
}
section {
    width: 100%;
    height: 100vh;
    background: #391e7270 no-repeat url(../img/black-girl-summer-city-with-laptop.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}
.title {
    font-size: 70px;
    text-transform: uppercase;
    font-family: secular-one, sans-serif;
    text-shadow: 5px 5px 5px #000;
    position: relative;
}
.title::before {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 10px;
    content: '';
    background: linear-gradient(to right, transparent 0%, #f4f1f6, transparent 100%) no-repeat;
    background-size: 10%;
    background-position: center;
    animation: widen 1s alternate cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@keyframes widen {
    0% {
        background-size: 0;
    }
    100% {
        background-size: 300%;
    }
}
#counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 50px;
}
.container div:nth-child(2) {
    font-weight: 700;
}


@media screen and (max-width: 900px) {
    .title{
        font-size: 50px;
    }
    #counter {
        flex-direction: column;
        background: #391e7270;
        border-radius: 10px;
        padding: 30px;
        backdrop-filter: blur(5px);
    }
    .container {
        margin: 10px auto;
    }
    .container div {
        font-size: 35px;
    }
}