@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(fonts/Secular_One/SecularOne-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    color: #f4f1f6;
    font-size: 24px;
    cursor: progress;
    font-weight: 500;
}
section {
    width: 100%;
    height: 100vh;
    background: #391e7270 no-repeat url(../img/black-girl-summer-city-with-laptop.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}
.title {
    font-size: 70px;
    text-transform: uppercase;
    font-family: secular-one, sans-serif;
    text-shadow: 5px 5px 5px #000;
}
#counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 50px;
}
.container div:nth-child(2) {
    font-weight: 700;
}
#seconds {
    animation: count-down 1s alternate ease;
    animation-iteration-count: infinite;
}
@keyframes count-down {
    0% {
        transform: translateY(-20px);
    }
}